### This is an example for the env.sh file file that meant to be source'd
### (not executed!) before using the scripts in this directory. Copy it 
### to env.sh and adjust to needs (prolly no changes necessary anyway).
### It sets the PERLLIB and PATH to use for the scripts in this repo,
### so that you don't have to rely on hard-wired paths

## own tools:
h=$(dirname $BASH_SOURCE)
PERLLIB=$h:$PERLLIB
PATH=$h:$PATH

## mismatch tools:
dmx=$HOME/git/phtools/ngs/demultiplex
PERLLIB=$dmx:$PERLLIB

### Also make sure that bwa (the mapper) can be found. If you use the lmod system, this would look like
### module load bwa
###
