## This is an example for the env.sh file that is meant to be
## source'd (not executed!) before using the scripts in this directory.
## It sets the PERLLIB and PATH to use for the scripts in this repo so
## that you don't have to rely on hard-wired paths. 
##
## Copy it to env.sh and adjust to needs. If all your git checkouts are
## contained in one directory (e.g. $HOME/git), just adjust variable
## gitroot below and you should be fine. Some scripts rely on the
## demultiplex library ( github.com/plijnzaad/demultiplex ); paths for 
## this are set as well (again using $HOME/git as the root of all git checkouts)
##
## Source (don't run) the script as
##
##  source ./env.sh
##
## prior to using the scripts.

if  [ $(dirname $BASH_SOURCE) != '.' ]; then 
    echo "sourcing $BASH_SOURCE found on \$PATH, be sure this is right " >&2
fi

gitroot=$HOME/git
repo=scseq
h=$gitroot/$repo
export PERLLIB=$h:$PERLLIB
PATH=$h:$PATH

## mismatch tools (from https://plijnzaad@github.com/plijnzaad/phtools.git)
repo=demultiplex
dmx=$gitroot/$repo
PERLLIB=$dmx:$PERLLIB
PATH=$dmx:$PATH

if [ ! -z  $(printenv PERL5LIB ) ]; then
  PERL5LIB=$PERLLIB
fi

unset gitroot repo h

### Also make sure that bwa (the mapper) can be found. If you use the
### lmod system, this would look like module load bwa
